In [2]:
import numpy as np          #importing numpy library
import pandas as pd         #importing pandas library

In [3]:
data = pd.read_csv(r"C:\Users\nehak\Downloads\Telco-Customer-Churn_1.csv")  #reading the data
data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

# Some important attributes of the data

In [4]:
data.head()    #reads the details of first 5 customers

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
data.shape  #gives the total number of rows and columns of the data

(7043, 21)

In [6]:
data.columns  #gives the column headings of the data

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [41]:
data.ndim   #finding the dimension of data

2

# 1 The number of customers who owns their service based on gender and citizenship.

In [7]:
churn_status = data[data["Churn"]=="No"]  
churn_status       #the number of customers who owns the connection

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.40,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.90,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7037,2569-WGERO,Female,0,No,No,72,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),21.15,1419.40,No
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [8]:
churn_status["Churn"].value_counts() #the count of number of customers who owns the connection

No    5174
Name: Churn, dtype: int64

In [9]:
data_gender = churn_status["gender"].value_counts()  #the count of males and females who owns the connection
data_gender

Male      2625
Female    2549
Name: gender, dtype: int64

In [ ]:
# Inference: From 5174 active users of connection out of a total 7043, 2625 are males.

In [ ]:
# Inference: From 5174 active users of connection out of a total 7043, 2549 are females.

In [10]:
data_czship =churn_status["SeniorCitizen"].value_counts()  #the count of active users who is/not a senior citizen.
data_czship

0    4508
1     666
Name: SeniorCitizen, dtype: int64

In [ ]:
# Inference: From 5174 active users of connection out of a total 7043, 4508 customers are not senior citizens .

In [ ]:
# Inference: From 5174 active users of connection out of a total 7043, 666 customers are  senior citizens.

# 2  The number of customers who left their service based on gender and citizenship.

In [13]:
churn_status1 = data[data["Churn"]=="Yes"]
churn_status1            #the number of customers who do not own the connection

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
13,0280-XJGEX,Male,0,No,No,49,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7021,1699-HPSBG,Male,0,No,No,12,Yes,No,DSL,No,...,No,Yes,Yes,No,One year,Yes,Electronic check,59.80,727.80,Yes
7026,8775-CEBBJ,Female,0,No,No,9,Yes,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),44.20,403.35,Yes
7032,6894-LFHLY,Male,1,No,No,1,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,75.75,75.75,Yes
7034,0639-TSIQW,Female,0,No,No,67,Yes,Yes,Fiber optic,Yes,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),102.95,6886.25,Yes
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes

In [14]:
churn_status1["Churn"].value_counts()      #the count of number of customers who do not own the connection

Yes    1869
Name: Churn, dtype: int64

In [42]:
data_gender1 = churn_status1["gender"].value_counts()    #the count of males and females who do not own the connection
data_gender1

Female    939
Male      930
Name: gender, dtype: int64

In [ ]:
# Inference: From 1869 non-active users of connection out of a total 7043, 930 are males.

In [ ]:
# Inference: From 1869 non-active users of connection out of a total 7043, 939 are females.

In [43]:
data_czship1 =churn_status1["SeniorCitizen"].value_counts()   #the count of non-users who is/not a senior citizen.
data_czship1

0    1393
1     476
Name: SeniorCitizen, dtype: int64

In [ ]:
# Inference: From 1869 non-active users of connection out of a total 7043, 1393 customers are not senior citizens .

In [ ]:
# Inference: From 1869 non-active users of connection out of a total 7043, 476 customers are senior citizens .

# 3   Preference of payment method based on Churn and Contract

In [16]:
data["PaymentMethod"].unique()  #dispalys unique values of column PaymentMethod

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [17]:
data["Contract"].unique()  #displays unique values of column PaymentMethod

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [18]:
churn_status["PaymentMethod"].value_counts(normalize = True)*100  # displays payment method preferences based on customers who own the service in percentage

Mailed check                 25.202938
Electronic check             25.009664
Credit card (automatic)      24.932354
Bank transfer (automatic)    24.855044
Name: PaymentMethod, dtype: float64

In [19]:
churn_status1["PaymentMethod"].value_counts(normalize = True)*100  #displays payment method preferences based on customers who left their service in percentage

Electronic check             57.303371
Mailed check                 16.479401
Bank transfer (automatic)    13.804173
Credit card (automatic)      12.413055
Name: PaymentMethod, dtype: float64

In [20]:
data_cont1 = data[data["Contract"] == "Month-to-month"] #Defines a dataframe of column "Contract" with value Month-to-Month
data_cont2 = data[data["Contract"] == "One year"]       #Defines a dataframe of column "Contract" with value One year
data_cont3 = data[data["Contract"] == "Two year"]       #Defines a dataframe of column "Contract" with value Two year

In [21]:
data_cont1["PaymentMethod"].value_counts(normalize = True)*100  # displays payment method preferences based on customers having contract Month-to-Month in percentage

Electronic check             47.741935
Mailed check                 23.045161
Bank transfer (automatic)    15.200000
Credit card (automatic)      14.012903
Name: PaymentMethod, dtype: float64

In [22]:
data_cont2["PaymentMethod"].value_counts(normalize = True)*100   # displays payment method preferences based on customers having contract "One year"in percentage

Credit card (automatic)      27.019688
Bank transfer (automatic)    26.544467
Electronic check             23.557366
Mailed check                 22.878479
Name: PaymentMethod, dtype: float64

In [23]:
data_cont3["PaymentMethod"].value_counts(normalize = True)*100  # displays payment method prefernces based on customers having contract "Two year"in percentage

Credit card (automatic)      34.277286
Bank transfer (automatic)    33.274336
Mailed check                 22.536873
Electronic check              9.911504
Name: PaymentMethod, dtype: float64

# 4  Internet service preference by gender based on churn status.

In [25]:
data["InternetService"].unique()  #displays unique values of the column InternetService

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [26]:
data_int1 = churn_status[data["gender"] == "Male"]
data_int1['InternetService'].value_counts(normalize = True)*100    #displays Internet service preference by Male customers who own the service in percentage

<ipython-input-26-b0513ce2a56c>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_int1 = churn_status[data["gender"] == "Male"]

DSL            37.828571
Fiber optic    34.666667
No             27.504762
Name: InternetService, dtype: float64

In [27]:
data_int2 = churn_status1[data["gender"] == "Male"]
data_int2['InternetService'].value_counts(normalize = True)*100     #displays Internet service preference by Male customers who left the service in percentage

<ipython-input-27-2071e860ff1e>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_int2 = churn_status1[data["gender"] == "Male"]

Fiber optic    68.064516
DSL            25.806452
No              6.129032
Name: InternetService, dtype: float64

In [28]:
data_int3 = churn_status[data["gender"] == "Female"]     
data_int3['InternetService'].value_counts(normalize = True)*100   #displays Internet service preference by Female customers who own the service in percentage

<ipython-input-28-d105a9efc5fb>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_int3 = churn_status[data["gender"] == "Female"]

DSL            38.014908
Fiber optic    34.876422
No             27.108670
Name: InternetService, dtype: float64

In [29]:
data_int4 = churn_status1[data["gender"] == "Female"]
data_int4['InternetService'].value_counts(normalize = True)*100  # displays Internet service preference by Female customers who left the service in percentage

<ipython-input-29-cf6e05462dde>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_int4 = churn_status1[data["gender"] == "Female"]

Fiber optic    70.713525
DSL            23.322684
No              5.963791
Name: InternetService, dtype: float64

# 5   Descriptive statistics of “TotalCharges” based on Gender,Contract, Payment Method

In [30]:
t1 = data[data['gender']== 'Male']
t1['TotalCharges'].describe()   # descriptive statistics of “TotalCharges” based on Male Customers

count    3555.000000
mean     2291.680667
std      2273.095299
min        18.800000
25%       399.275000
50%      1406.000000
75%      3778.100000
max      8684.800000
Name: TotalCharges, dtype: float64

In [31]:
t2 = data[data['gender'] == 'Female']
t2['TotalCharges'].describe()   # descriptive statistics of “TotalCharges” based on Female Customers

count    3488.000000
mean     2289.338308
std      2276.695359
min        18.850000
25%       403.300000
50%      1389.050000
75%      3834.062500
max      8672.450000
Name: TotalCharges, dtype: float64

In [32]:
t3 = data[data['Contract'] == "Month-to-month"]
t3['TotalCharges'].describe()    # descriptive statistics of “TotalCharges” based on Customers having contract of month-to-month contract

count    3875.000000
mean     1369.254581
std      1613.879008
min        18.850000
25%       160.100000
50%       679.550000
75%      2066.500000
max      8061.500000
Name: TotalCharges, dtype: float64

In [33]:
t4 = data[data['Contract'] == "One year"]
t4["TotalCharges"].describe()    # descriptive statistics of “TotalCharges” based on Customers having contract of one year contract

count    1473.000000
mean     3038.377461
std      2233.477741
min        18.800000
25%       989.450000
50%      2658.400000
75%      4860.350000
max      8684.800000
Name: TotalCharges, dtype: float64

In [34]:
t5 = data[data['Contract'] == "Two year"]
t5['TotalCharges'].describe()    # descriptive statistics of “TotalCharges” based on Customers having contract of two year contract

count    1695.000000
mean     3746.752383
std      2582.454154
min        20.350000
25%      1280.125000
50%      3638.250000
75%      6044.300000
max      8672.450000
Name: TotalCharges, dtype: float64

In [35]:
data["PaymentMethod"].unique()  #displays unique values of payment methods

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [37]:
t6 = data[data['PaymentMethod'] == 'Electronic check']
t6['TotalCharges'].describe()  # descriptive statistics of “TotalCharges” based on Customers having Electronic check Payment Method

count    2365.000000
mean     2090.868182
std      2155.435320
min        18.850000
25%       308.050000
50%      1253.900000
75%      3340.550000
max      8564.750000
Name: TotalCharges, dtype: float64

In [38]:
t7 = data[data['PaymentMethod'] == 'Mailed check']
t7['TotalCharges'].describe()    #the descriptive statistics of “TotalCharges” based on Customers having mailed check Payment Method

count    1612.000000
mean     1083.236973
std      1509.101844
min        18.800000
25%       116.937500
50%       473.675000
75%      1316.000000
max      8476.500000
Name: TotalCharges, dtype: float64

In [39]:
t8 = data[data['PaymentMethod'] == 'Bank transfer (automatic)']
t8['TotalCharges'].describe()     # descriptive statistics of “TotalCharges” based on Customers having Bank transfer Payment Method

count    1544.000000
mean     3083.566023
std      2360.362773
min        19.250000
25%      1052.387500
50%      2479.500000
75%      4948.337500
max      8684.800000
Name: TotalCharges, dtype: float64

In [40]:
t9 = data[data['PaymentMethod'] == 'Credit card (automatic)']
t9['TotalCharges'].describe()    # descriptive statistics of “TotalCharges” based on Customers having Credit Card  Payment Method

count    1522.000000
mean     3074.920894
std      2410.536742
min        19.300000
25%       989.400000
50%      2454.175000
75%      5016.550000
max      8670.100000
Name: TotalCharges, dtype: float64